### range function

In [1]:
my_list = [1, 2, 3]

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [4]:
for num in range(1, 11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [5]:
for num in range(1, 11, 2):
    print(num)

1
3
5
7
9

In [6]:
range(1, 11)

range(1, 11)

In [7]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### enumerate

In [8]:
mylist = ['Jonathan', 'Elizabeth', 'Rafa', 'Roa']

In [9]:
for name in enumerate(mylist):
    print(name)

(0, 'Jonathan')
(1, 'Elizabeth')
(2, 'Rafa')
(3, 'Roa')

In [10]:
for id_, name in enumerate(mylist):
    print(id_)

0
1
2
3

In [11]:
index_count = 0

for letter in 'Jonathan':
    print(f"At index {index_count} the letter is {letter}")
    index_count += 1

At index 0 the letter is J
At index 1 the letter is o
At index 2 the letter is n
At index 3 the letter is a
At index 4 the letter is t
At index 5 the letter is h
At index 6 the letter is a
At index 7 the letter is n

In [12]:
for index, letter in enumerate('Jonathan'):
    print(f"At index {index} the letter is {letter}")

At index 0 the letter is J
At index 1 the letter is o
At index 2 the letter is n
At index 3 the letter is a
At index 4 the letter is t
At index 5 the letter is h
At index 6 the letter is a
At index 7 the letter is n

### zip function

In [13]:
my_list_1 = [1, 2, 3]
my_list_2 = ['a', 'b', 'c']

In [14]:
zip(my_list_1, my_list_2)

In [15]:
print(zip(my_list_1, my_list_2)) # you have this generator waiting for you in this memory space

<zip object at 0x7fcbbc659400>

In [16]:
for item in zip(my_list_1, my_list_2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [17]:
my_list_3 = [100, 200, 300]

In [18]:
for item in zip(my_list_1, my_list_2, my_list_3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

Uneven lists.

In [19]:
my_list_1 = [1, 2, 3, 4, 5, 6]
my_list_2 = ['a', 'b', 'c']
my_list_3 = [100, 200, 300]

In [20]:
for item in zip(my_list_1, my_list_2, my_list_3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [21]:
my_list_1 = [1, 2, 3, 4, 5, 6]
my_list_2 = ['a', 'b', 'c', 'd']
my_list_3 = [100, 200, 300]

In [22]:
for item in zip(my_list_1, my_list_2, my_list_3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

Zip is only going to be able to go and zip together as far as the list which is the shortest.
Zip s√≥lo va a ser capaz de ir y "enzipar" los items de la lista hasta la longitud de la lista mas corta.

In [ ]:
for item in zip(my_list_1, my_list_2, my_list_3):
    print(item)
### Aqui iteramos desde zip, pero si queremos tener una lista de ese zip tenemos que hacer un cast usando list()

In [23]:
list(zip(my_list_1, my_list_2, my_list_3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [25]:
for item in list(zip(my_list_1, my_list_2, my_list_3)):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [26]:
for a, b, c in list(zip(my_list_1, my_list_2, my_list_3)):
    print(f"{a}")

1
2
3

In [27]:
for a, b, c in list(zip(my_list_1, my_list_2, my_list_3)):
    print(f"{c}")

100
200
300

### in

In [28]:
word = 'Jonathan'
if 'J' in word:
    print(True)

True

In [29]:
'x' in [1, 2, 3]

False

In [30]:
'x' in ['x', 'y', 'z']

True

In [31]:
2 in [1, 2, 3]

True

It also works on other iterable object types and strings as well.

In [32]:
'a' in 'a world'

True

In [33]:
mydict = {"my_key_1": "Jonathan", "my_key_2": "Jimenez", "my_key_3": "Sosa", "my_key_3": 30}

In [34]:
"my_key" in mydict

False

In [35]:
"my_key_1" in mydict

True

In [40]:
"my_key_2" in mydict.keys()

True

In [41]:
"Jonathan" in mydict.values()

True

In [48]:
dict1 = {"my_key_2": "Jimenez"}
"my_key_2" in mydict.keys() and mydict["my_key_2"] == "Jimenez"

True

Como obtener el valor de la key en un dict sin iterar, directamente extraer?

### min-max

In [49]:
mylist = [10, 20, 30, 40, 50]

In [50]:
min(mylist)

10

In [51]:
max(mylist)

50

### math library

#### shuffle

In [54]:
from random import shuffle

In [52]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
shuffle(mylist) # IN PLACE FUNCTION

In [58]:
mylist

[8, 9, 2, 10, 3, 6, 1, 4, 5, 7]

#### randint

In [70]:
from random import randint

In [74]:
randint(0,2)  # randint(lowerrange, upperrange)

2

In [75]:
# we can save the value
mynum = randint(0, 10)
mynum

6

In [76]:
mynum = randint(0, 10)
mynum

1

### input()

In [77]:
input("Enter a number here: ")

Enter a number here: 50

'50'

In [78]:
result = input("What's your name?: ")
print(f"Hi {result}, welcome!")

What's your name?: Jonathan
Hi Jonathan, welcome!

Anything that is passed into input() is passed as a string

In [80]:
result = int(input("What's your favorite number?: "))
print(f"You chose the number {result}")

What's your favorite number?: 2
You chose the number 2

In [81]:
result = input("Enter a number here: ")
result

Enter a number here: 50

'50'

In [83]:
result = input("Enter a number here: ")
result
print(int(result))
print(float(result))

Enter a number here: 3
3
3.0